
 body{
    background-color: black;
    background: url(spacex.jpg) no-repeat fixed;
    background-size: cover;
 }

.main{
    display: flex;
    height: 350px;
}
.head{
    color: white;
    padding: 1rem;
    font-size: 12px;
}

.rl{
    color: white;
}
.sm{
    color: white;
    margin-top: 1%;
    line-height: 40px;
    font-size: 45px;
    margin-bottom: 2rem;
}
#sl{
    margin-right: 7rem;
}

.abbrTag{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 1rem;
}
abbr{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.submain2{
    display: flex;
    flex-direction: column;
    width: 150;
    height: 150;
    justify-content: center;
    align-items: baseline;
    margin-left: 3rem;
}