body{
    font-family: Arial;

}

.login-box{
    width: 300px;
    height: 200px;
    margin: auto;
    background-color:green; 
    border-radius: 3px;

}

h1{
    text-align: center;
    color: white;

}

form{
    width: 300px;
    margin-left: 20px;

}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    color: white;
}

input[type="button"]{

}

input[type="button"]:hover{
    color: rgb(123, 179, 123);
    background-color: white;
}

.Signup-box{
    width: 350px;
    height: 270px;
    float: left;
    margin-left:280px;
    background-color: green;
    border-radius: 4px;

}

